---
layout: landing-page
---

		<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2>A collection of home cooked meals and food adventures</h2>
					<p>SIMPLE, FUN AND TASTY TO CREATE AND DEVOUR</p>
					<img src="images/Logo.png" height="auto" width="200"/>
				</header>
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon fa-area-chart major"></i>
								<h3>Photos</h3>
								<p>I love taking photos, particularly of food and macros. Why not put this hobby to good use? Need more mouth watering food porn.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-refresh major"></i>
								<h3>Feeding</h3>
								<p>Got to make sure my family is fed and happy. A way to a man's heart is through his stomach after all. That and beer of course.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-cog major"></i>
								<h3>Learning</h3>
								<p>Learning new recipes, cooking and camera techniques and explore more tastes and cuisines I didn't originally cooked.</p>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<header class="major">
					<h2>Latest Blog Entries</h2>
					<ul class="actions">
                    <li><a href="{{ site.baseurl }}/blog.html" class="button big alt">Full Blog</a></li>
				</header>
				<div class="container">
					<div class="row">
						{% for post in site.posts limit:2 %}
							<div class="6u">
								<section class="special">
										<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
									 	<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
										<p>{{post.excerpt }}</p>
										<ul class="actions">
											<li><a href="{{ site.baseurl }}{{ post.url }}" class="button alt">Read More</a></li>
										</ul>

								</section>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
