<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u -3u">
                <h3><a href="{{ site.baseurl }}/blog.html">Foodmeow</a></h3>
                <a href="{{ site.baseurl }}/blog.html">
                    <img src="images/Logo.png" height="auto" width="200" style="padding-bottom: 25px"/>
                <a/>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Catmelon. All rights reserved.</li>
            <li>Design: by Catmelon</li>
            <li>Images: by Catmelon</li>
        </ul>
    </div>
</footer>
