<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Eat Food Meow</h2>
                <p>A collection of home cooked meals and food adventures</p>
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}/blog.html" class="button big alt">Read Blog</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
